{% extends "base.html" %}
{% block body %}
    <h2>Upload a file</h2> <!-- TODO: Input-Format Beschreibung fehlt, manage non-UTF-8, manage multiple uploads -->
    <p>You can only upload '.txt' and '.fastq' files whose format
    follows something along these lines:<br />
	<pre>
	@M_SOLEXA-GA05_MK_MP_MK9-10_MMS8:3:1:13:1607#AGTCAA<br />
	TATCAAGGCGATCGAGCGAACCATGGTTAAGGAACTCGGCAAAATGCCCCCGTAACTTCGGGAGAAGGGGGT<br />
	+M_SOLEXA-GA05_MK_MP_MK9-10_MMS8:3:1:13:1216#AGTCAA<br />
	LJNLNLMLNMNIKKMIJIMINLMLNONNQLLIJKMKNMMMLNQ:8KIKONNM7
	</pre>
	<form method="POST" action=""
      enctype="multipart/form-data"
      > <!-- what would this extra parameter do: action="./demo.html" ? -->
		<input type="file" name="file" value="Browse"/>
		<input type="submit" value="Upload" onclick="showInfo()"/>
		<div value="userInfo"></div>
	</form></p> <!-- TODO: insert handler -->
<!--
	 <p>
	 <form id="form_upload" action="/upload" method="POST">
  <input type="file" name="picture" id="picture" />
  <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
  <input type="hidden" id="id" name="id" value=""/>
  <input id="form_submit_button" class="tp-button" type="submit" value="Upload" />
  </form></p> 
-->
	<p>
	{% with messages = get_flashed_messages(category_filter=["upload"]) %}
	{% if messages %}
	<div class="alert-message block-message uploaded">
		<!-- <a class="close" href="#">×</a> -->
		<ul>
			{%- for msg in messages %}
			<li>{{ msg }}</li>
			{% endfor -%}
		</ul>
	</div>
	{% endif %}
	{% endwith %}
	</p>
<!-- because of the large file sizes which are to be expected, the --
  -- text  field is pretty much senseless
	<h2>or use the text field below</h2>
	<p>
		<form method="post" action="">
			<textarea name="comments" type="text" cols="80" rows="20"></textarea><br>
			<input type="submit" name="action" value="Process Data" />
		</form>
-->
{% endblock %}
